@import '../../vars.scss';

.centered-content {
    text-align: center;
}

.padded-div {
    padding-left: $layout-04;
    padding-right: $layout-04;
    padding-bottom: $layout-01;
    padding-top: $layout-01;
}